* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	box-sizing: border-box;
}


body {
	font-size: 13px;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", "sans-serif";
	/* background-color: #edeef0; */
	background-color: #fff;
	color: #000;
	overflow: hidden;
	outline: none;
	line-height: 1;
	box-sizing: border-box;
	min-width: 840px;
	height: 100%;
}

a {
    text-decoration: none;
}

.col50{
    width: 50%;
    float: left;
}

.padd-left-15 {
    padding-left: 15px;
}

.padd-right-15 {
    padding-right: 15px;
}

.clear{
    clear: both;
}

/* General UI */

.encyui {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.encyui .encyui-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.encyui .encyui-main > .encyui-main-topbar, .encyui-main-menubar, .encyui-main-view {
    display: flex;
}

.encyui .encyui-main .encyui-main-topbar {
    height: 42px;
    line-height: 42px;
    direction: ltr;
    z-index: 120;
    color: #fff;
    background: #507299;
    box-sizing: border-box;
    font-weight: 500;
}  

.encyui-main-topbar a, .encyui-main-topbar a:visited {
    color: #fff;   
}

.encyui-main-topbar .topbar-left > span {
    margin-right: 10px;
}

.encyui-main-topbar .topbar-left .main-plus {
    line-height: 48px;
    font-size: 9px;
    position: relative;
}

.encyui-main-topbar a:visited {
    color: #fff;
}

.encyui-main-topbar .topbar-left {
    display: flex;
    flex: 1 0 380px;
}

.encyui-main-topbar .topbar-middle {
    display: flex;
    flex: 1 0 280px;
    justify-content: center;
    padding-top: 5px; 
}

.encyui-main-topbar .topbar-middle input {
    width: 100%;
}


.encyui-main-topbar .topbar-right {
    display: flex;
    flex: 1 0 380px;
    justify-content: flex-end;
}


.encyui .encyui-main .encyui-main-menubar {
    border-bottom: 1px solid #d1d8dd;
    height: 70px;
    max-height: 70px;
    line-height: 70px;
    background-color: #fff;
    /*margin-bottom: 15px;*/
    z-index: 101;
}

.encyui .encyui-main > .encyui-main-menubar, .encyui-main-view {
    display: flex;
    flex: 1;
}

.encyui-main-menubar .menubar-name{
    font-size: 24px;
    font-weight: 500;
    color: #161b1f;
}

.menubar-left, .menubar-right{
    display: flex;
    flex: 1;
} 

.menubar-right{
    justify-content: flex-end;
}

.menubar-right > div {
    display: flex;
}

.menubar-right div div {
    margin: 0 2px;
}

.menubar-right div div:last-child{
    margin-right: 0;
}

.encyui-main-ui-gutter {
    flex: 1 0 20px;
}

.encyui-center-view {
    display: flex;
    flex: 5000 1 924px;
    max-width: 1124px;
    transition: margin-left 0.25s ease-out,width 0.25s ease-out;
}

.encyui-main-view .encyui-main-ui-left {
    /*background: #fff;*/
    border-top-left-radius: 3px;
    transition: margin-left 0.25s ease-out,width 0.25s ease-out;
}

.encyui-main-view .encyui-main-ui-left .ui-left-aside {
    flex: 1500 1 150px;
    color: #285473;
    border-left: 1px solid #d1d8dd; 
    /* background: #fff; */
}

.encyui-main-view .encyui-main-ui-left .ui-left-content {
    flex: 3500 1 460px;
    background: #fff;
    border-left: 1px solid #d1d8dd; 
    border-right: 1px solid #d1d8dd;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    box-sizing: border-box;
}


.encyui-main-view .encyui-main-ui-right {
    display: flex;
    flex: 4500 0 640px;
    border-right: 1px solid #d1d8dd;
    flex-direction: column;
    /* border-top-right-radius: 3px; */
    /*border-left: 1px solid #d1d8dd; */
}

.encyui-main-ui-right .ui-right-content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    position: relative;
}

.encyui-main-ui-right .ui-right-footer {
    flex: 1;
    max-height: 42px;
    background-color: rgb(250, 251, 252);
    border-top: 1px solid #d1d8dd;
}


.ui-section {
    border-bottom: 1px solid #d1d8dd;
    padding: 30px 35px;
    color: #161b1f;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    /* overflow: hidden;  */
    /* min-height: 240px; */
}

.ui-left-content > .ui-section:nth-child(even) {
    background-color: #fafbfc;
}

.ui-section:last-child {
    border-bottom: none;
}

.ui-section > div {
    padding-top: 5px;
    min-height: 28px;
    line-height: 18px;
    box-sizing: border-box;
}

.ui-left-headlink div, .ui-left-headicon div {
    padding: 5px 0;
}

.ui-left-headicon div{
    height: 28px;
}

ui-left-headlink span {
    min-height: 28px;
    line-height: 18px;
}

.ui-left-headlink > div:first-child, .ui-left-headicon > div:first-child {
    font-size: 16px;
    font-weight: 500; 
    min-height: 18px;
    line-height: 18px; 
}

.ui-left-headicon .headicon-box {
    display: inline-block;
    padding-right: 10px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15); */
    margin-right: 5px;
}

.ui-left-headicon .headicon-label{
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    /* bottom: 10px; */
}

.ui-breadcrumb {
    list-style: none;
}

.ui-breadcrumb li{
    box-sizing: border-box;
    float: left;
}

.ui-breadcrumb li a{
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 6px 10px 10px 0px;
}

.ui-breadcrumb li a::before{
    font-family: FontAwesome;
    font-size: 18px;
    position: relative;
    top: 1px;
    margin-right: 5px;
    content: '\f105'
}

.ui-breadcrumb li:first-child a::before{
    content: ''
}

.ui-section a {
    color: #161b1f;
    font-size: 12px;
}

.ui-section a:hover{
    text-decoration: underline;
}

.ui-right-controlbar {
    border-bottom: 1px solid #d1d8dd;
}

.ui-right-controlbar , .ui-right-footer{
    height: 42px;
    line-height: 38px;
    padding: 0 15px;
    box-sizing: border-box;
}

.encyui-main-ui-right .right-side {
    text-align: right;
}

.encyui-main-ui-right .right-side div {
    display: inline-block;
    margin-left: 2px;
}

/* Controls */

input, textarea {
    font-size: 13px;
	font-family: "Segoe UI", "Lucida Grande", "Helvetica Neue", "sans-serif";
    padding: 5px 9px 7px;
    color: #555;
    border-radius: 1px;
    box-sizing: border-box;
    border: 1px solid #d3d9de;
    outline: none;
    width: 300px;
}

textarea {
    resize: none;
    height: 113px;
}

input{
    height: 30px;
}


.encyui-formcontrol div {
    min-height: 24px;
}

.encyui-formcontrol span, .encyui-formcontrol label {
        font-size: 12px;
}

.encyui-formcontrol label, .encyui-formcontrol input, .encyui-formcontrol span, .encyui-formcontrol textarea {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    color: #555;
}

.encyui-formcontrol-hidden {
    position: absolute;
    width: 360px;
    /* top: 20px; */
    z-index: -1;

}

.encyui-menu {
    display: inline-block;
    width: 150px;
    min-height: 80px;
    background: #fff;
    border: 1px solid #cdcfd2;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    margin-top: 42px;
    margin-left: -50px;
    z-index: 600; 
}

.encyui-button {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
}

.encyui-button-cancel {
    background: #d3d9de;
    color: #282a2d
}

/* DataGrid */
.encyui-datagrid{
    display: flex;
    flex: 1;
    min-height: 24px;
    flex-direction: column;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
}

.encyui-datagrid-header, 
.encyui-datagrid-body, 
.encyui-datagrid-row{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d1d8dd;
    min-height: 40px;
    line-height: 40px;
}

.encyui-datagrid-header {
    background-color: #F7FAFC;
}

.encyui-datagrid-body{
    flex-direction: column;    
}

.encyui-datagrid-row:hover {
    background-color: #F7FAFC;
}

.encyui-loading-dialog {
    position: absolute;
    top: 45%;
    left: 50%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    transform: translate(-50%, 50%);
}


/* Autosuggest  */
.react-autosuggest__container {
  position: relative;
}

/* .react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
} */

/* .react-autosuggest__input--focused {
  outline: none;
} */

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #d9d9d9;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background-color: #fff;
  z-index: 2;
  box-sizing: border-box;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 5px 10px;
  line-height: 18px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}


 /* rc table */

/* React Table */

.ReactTable {
    display: flex;
}

/* rc menu */
.encyui-menu-rc {
    position: relative;
}

.rc-menu {
  position: absolute;
  outline: none;
  list-style: none;
  z-index: 99999;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  color: #666;
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.rc-menu li {
    display: flex;
    height: 38px;
    line-height: 38px;
    padding: 0px 15px;
    cursor: pointer;
}

.rc-menu li:hover{
    background-color: #e4eaf0;
}

/* date picker */
.rdt {
  position: relative;
  font-size: small
}

.rdt > input {
  border: 1px solid #d9d9d9;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;    
  width: 100%;
  box-sizing: border-box;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #d9d9d9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtDayPart {
  margin-top: 43px;
}


/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
    
    white-space: nowrap;
}

.encyui-dialog{
    box-shadow: 0 2px 10px rgba(0,0,0,.35);
}

.encyui-dialog div {
    padding: 20px 25px;
    line-height: 19px;
    background: #fff;
}

.encyui-dialog div:first-child {
    color: #fff;
    border-radius: 2px 2px 0 0;
    line-height: 54px;
    padding: 0 0 0 25px;
}

.encyui-dialog div:last-child{
    background: #fafbfc;
    height: 29px;
    border-top: 1px solid #e7e8ec;
    border-radius: 0 0 2px 2px;
    padding: 10px 25px 10px 10px;
    text-align: right;
}


.encyui-dialog div a i {
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 18px;
}

